
.nav-item {
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: left;
  }
  
  .nav-link, .navbar-brand {
    color: white;
  }
  
  .container-fluid {
    background-color: #bb7171;
    margin-top: -10px;
    margin-bottom: -10px;
  }
  header {
    background-color: lavender;
    text-align: center;
  }
  a {
    text-decoration: none;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    margin: 10px;
    text-shadow: 2px 5px 7px rgb(156, 126, 126);
  }